---
// component import
import PostHeader from "../components/PostHeader.astro";
import MainLayout from "./MainLayout.astro";
import TabBar from "../components/TabBar.astro"

const { frontmatter } = Astro.props;

const { title, description, date, category, author, image } = frontmatter;
---

<MainLayout {title} {description}>
  <PostHeader {title} {description} {date} {category} {image} {author} />
  <div>
    <div class="content">
      <slot />
    </div>
  </div>
</MainLayout>